*.iml
/.gitignore
.gitignore
.idea
.gradle
/.gradle
/.gradle/*
.gradle/*
/local.properties
/.idea/
/.idea
/.idea/misc.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/libraries
/build
/captures
*.apk
