<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.a5corp.weather">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_x"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:theme="@style/AppTheme.NoActionBar"
        tools:targetApi="n">
        <activity
            android:name=".GlobalActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:configChanges="locale"
            android:label="About"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.WeatherActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.a5corp.weather.activity.WeatherActivity" />
        </activity>
        <activity
            android:name=".activity.WeatherActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            tools:targetApi="n" />
        <activity
            android:name=".activity.FirstLaunch"
            android:configChanges="locale"
            android:label="Enter City"
            android:screenOrientation="portrait"
            android:resizeableActivity="false"
            tools:targetApi="n" />
        <activity
            android:name=".activity.LicenseActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:label="License" />
        <activity
            android:name=".activity.settings.SettingsActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:label="@string/settings"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.a5corp.weather.activity.WeatherActivity" />
        </activity>

        <service
            android:name=".service.NotificationService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".widget.AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".widget.LargeWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/large_widget" />
        </receiver>
        <receiver
            android:name=".receiver.StartupReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.UpgradeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".widget.SmallWidgetProvider"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/small_widget" />
        </receiver>
    </application>

</manifest>